{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.isPublished) }}
    {{ form_rest(form)}}
<button class="btn btn-primary">{{ button_text|default('validate')|trans }}</button>
{{ form_end(form) }}
