{% extends 'base.html.twig' %}

{% block title %}{{ 'post.index.title'|trans({posts: posts|length}) }}{% endblock %}

{% block body %}
    <h1>{{ 'post.index.title'|trans({posts: posts|length}) }}</h1>
    {% if is_granted('ROLE_USER') %}
        <p>{{ 'security.user.role'|trans }} <code>ROLE_USER</code></p>
    {% endif %}
    <p>{{ 'Message identifier is in english language'|trans }}</p>
    <p>{{ 'demo.strategy.semantic'|trans }}</p>
    <ul>
        {% for post in posts %}
            <li class="{{ loop.index is odd ? 'odd' : 'even'}}">
                <a href="{{ path('app_post_show', {id: post.id}) }}">{{ post.title }}</a> {{ 'by'|trans }} {{ post.writtenBy.nickName }}
                (<a href="{{ path('app_post_edit', {id: post.id}) }}">{{ 'edit'|trans|capitalize }}</a>)
            </li>
        {% else %} {# else si aucun élément dans la liste #}
            <li>{{ 'post.index.empty'|trans }}</li>
        {% endfor %}
    </ul>
{% endblock %}
