{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <nav>
        <a href="{{ path('app_post_index') }}">{{ 'back2list'|trans }}</a>
    </nav>
    <h1>{{ post.title }}</h1>
    <p>{{ 'post.show.authoring'|trans({
            'date': post.createdAt | date,
            'name': post.writtenBy.nickName
        }) }}</p>
    <div>
        {{ post.body }}
    </div>
{% endblock %}
